* {
  margin: 0;
  padding: 0;
}

#title h1 {
  margin-left: 350px;
  margin-top: 20px;
  font-family: "Syncopate", sans-serif;
}

#game {
  width: 1000px;
  height: 400px;
  border: 2px solid black;
  margin-top: 50px;
}

#character {
  background-image: url("images/soldier.gif");
  background-color: white;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  position: relative;
  top: 300px;
}
.animate {
  animation: jump 550ms;
}

@keyframes jump {
  0% {
    top: 300px;
  }
  30% {
    top: 200px;
  }
  70% {
    top: 200px;
  }
  100% {
    top: 300px;
  }
}

#block {
  background-image: url("images/rock.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  position: relative;
  top: 230px;
  left: 920px;
  animation: block 1s infinite;
}

@keyframes block {
  0% {
    left: 900px;
  }
  100% {
    left: -40px;
  }
}
